body {
    padding-bottom: 7%; 
}

img {
    width: 80px;
    height: auto;
}

main {
    padding-bottom: 5%; 
}

/* New media query for mobile devices */
@media (max-width: 768px) {
    body, main {
        padding-bottom: 15%; 
    }
}

.col-md-4 {
    padding: 1.25%; 
}

.drawings {
    width: 80%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 0; /* Optional: remove if you prefer square images without rounded corners */
    border: 5px solid black; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: white; 
}

.square-portrait {
    width: 66%; 
    height: 66%; 
    object-fit: cover;
    border-radius: 0; /* Optional: remove if you prefer square images without rounded corners */
    border: 5px solid #996515; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: white; 
}

.role-style {
    font-family: 'Merriweather', serif; 
    font-size: 1.5em; 
    font-weight: bolder;
    color: #333; 
}

.map-container iframe,
.calendar-container iframe {
    width: 100%; /* Ensures the iframe takes the full width of its container */
    height: auto; /* Optional: Adjusts height automatically based on the aspect ratio */
    min-height: 300px; /* Provides a minimum height to ensure usability */
}

@media (max-width: 768px) {
    .map-container iframe,
    .calendar-container iframe
    .video-container
    .video-container iframe {
        min-height: 250px; /* Adjusts the minimum height for smaller devices */
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .map-container iframe,
    .calendar-container iframe
    .video-container
    .video-container iframe {
        min-height: 250px; /* Adjusts the minimum height for smaller devices */
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust space between images */
    flex-wrap: wrap;
}

.image-container img {
    width: 250px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
}
